<div class="container col-lg-10 col-md-11 col-sm-12 my-5">
    <div class="card">
        <div class="card-header text-bg-danger">
            Tipos de Triangulos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        <p class="fw-bold">
                            • Equiláteros <br>
                            • Isóceles <br>
                            • Escalenos <br>
                        </p>
                        <hr>
                        <p class="font-monospace">
                            Dependiendo de la longitud de sus lados los triángulos serán:
                            <br><br>
                            • Equiláteros: Donde los tres lados son iguales en longitud. <br>
                            • Isóceles: Donde dos lados tienen la misma longitud. <br>
                            • Escalenos: Donde los tres lados tienen longitudes diferentes.  
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtlong1"
                               autocomplete="off" placeholder="Longitud 1">
                        <label for="txtlong1">Longitud 1</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtlong2"
                               autocomplete="off" placeholder="Longitud 2">
                               
                        <label for="txtlong2">Longitud 2</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtlong3"
                               autocomplete="off" placeholder="Longitud 3">
                        <label for="txtlong3">Longitud 3</label>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="button" class="btn btn-success">
                            Procesar triángulo
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>